In [105]:
import pandas as pd
from fredapi import Fred

# Initialize the FRED API
fred = Fred(api_key='my_api_key')

In [106]:
case_shiller = fred.get_series('CSUSHPISA')

In [107]:
case_shiller.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 590 entries, 1975-01-01 to 2024-02-01
Series name: None
Non-Null Count  Dtype
--------------  -----
446 non-null    float64
dtypes: float64(1)
memory usage: 9.2 KB

In [108]:
case_shiller = case_shiller.to_frame(name=None)

In [109]:
case_shiller.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 590 entries, 1975-01-01 to 2024-02-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    446 non-null    float64
dtypes: float64(1)
memory usage: 9.2 KB

In [110]:
start_date = '2000-01-01'
end_date = '2020-01-01'

# Filter the DataFrame by the specified period
filtered_df = case_shiller[start_date:end_date]

In [111]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 241 entries, 2000-01-01 to 2020-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    241 non-null    float64
dtypes: float64(1)
memory usage: 3.8 KB

In [112]:
df_reset = filtered_df.reset_index()

# Rename the new column for clarity (optional)
df_reset = df_reset.rename(columns={'index': 'Date', None:'Home_Price_Index' })

In [113]:
df_reset.head()

        Date  Home_Price_Index
0 2000-01-01           100.552
1 2000-02-01           101.339
2 2000-03-01           102.126
3 2000-04-01           102.922
4 2000-05-01           103.678

In [114]:
federal_funds_rate = fred.get_series('FEDFUNDS')

In [115]:
federal_funds_rate.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 838 entries, 1954-07-01 to 2024-04-01
Series name: None
Non-Null Count  Dtype
--------------  -----
838 non-null    float64
dtypes: float64(1)
memory usage: 13.1 KB

In [116]:
federal_funds_rate = federal_funds_rate.to_frame(name=None)

In [117]:
federal_funds_rate.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 838 entries, 1954-07-01 to 2024-04-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    838 non-null    float64
dtypes: float64(1)
memory usage: 13.1 KB

In [118]:
# Filter the DataFrame by the specified period
filtered_df_ffr = federal_funds_rate[start_date:end_date]

In [119]:
filtered_df_ffr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 241 entries, 2000-01-01 to 2020-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    241 non-null    float64
dtypes: float64(1)
memory usage: 3.8 KB

In [120]:
df_reset_ffr = filtered_df_ffr.reset_index()

# Rename the new column for clarity (optional)
df_reset_ffr = df_reset_ffr.rename(columns={'index': 'Date', None:'Feds_fund_rate' })

In [121]:
df_reset_ffr.head()

        Date  Feds_fund_rate
0 2000-01-01            5.45
1 2000-02-01            5.73
2 2000-03-01            5.85
3 2000-04-01            6.02
4 2000-05-01            6.27

In [124]:
df_reset_ffr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            241 non-null    datetime64[ns]
 1   Feds_fund_rate  241 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.9 KB

In [125]:
unemployment_rate = fred.get_series('UNRATE')
unemployment_rate.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 916 entries, 1948-01-01 to 2024-04-01
Series name: None
Non-Null Count  Dtype
--------------  -----
916 non-null    float64
dtypes: float64(1)
memory usage: 14.3 KB

In [126]:
unemployment_rate = unemployment_rate.to_frame(name=None)
unemployment_rate.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 916 entries, 1948-01-01 to 2024-04-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    916 non-null    float64
dtypes: float64(1)
memory usage: 14.3 KB

In [127]:
filtered_df_ur = unemployment_rate[start_date:end_date]
filtered_df_ur.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 241 entries, 2000-01-01 to 2020-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    241 non-null    float64
dtypes: float64(1)
memory usage: 3.8 KB

In [129]:
df_reset_ur = filtered_df_ur.reset_index()

# Rename the new column for clarity (optional)
df_reset_ur = df_reset_ur.rename(columns={'index': 'Date', None:'unemployment_rate' })
df_reset_ur.head()
df_reset_ur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               241 non-null    datetime64[ns]
 1   unemployment_rate  241 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.9 KB

In [131]:
cpi = fred.get_series('CPIAUCSL')
cpi.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 928 entries, 1947-01-01 to 2024-04-01
Series name: None
Non-Null Count  Dtype
--------------  -----
928 non-null    float64
dtypes: float64(1)
memory usage: 14.5 KB

In [132]:
cpi = cpi.to_frame(name=None)
cpi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 928 entries, 1947-01-01 to 2024-04-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    928 non-null    float64
dtypes: float64(1)
memory usage: 14.5 KB

In [133]:
filtered_df_cpi = cpi[start_date:end_date]
filtered_df_cpi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 241 entries, 2000-01-01 to 2020-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    241 non-null    float64
dtypes: float64(1)
memory usage: 3.8 KB

In [134]:
df_reset_cpi = filtered_df_cpi.reset_index()

# Rename the new column for clarity (optional)
df_reset_cpi = df_reset_cpi.rename(columns={'index': 'Date', None:'cpi' })
df_reset_cpi.head()
df_reset_cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    241 non-null    datetime64[ns]
 1   cpi     241 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.9 KB

In [136]:
housing_starts = fred.get_series('HOUST')
mortgage_rates = fred.get_series('MORTGAGE30US')
gdp = fred.get_series('GDP')
housing_starts = housing_starts.to_frame(name=None)
mortgage_rates = mortgage_rates.to_frame(name=None)
gdp = gdp.to_frame(name=None)

In [137]:
housing_starts.info()
mortgage_rates.info()
gdp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 784 entries, 1959-01-01 to 2024-04-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    784 non-null    float64
dtypes: float64(1)
memory usage: 12.2 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2774 entries, 1971-04-02 to 2024-05-23
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    2774 non-null   float64
dtypes: float64(1)
memory usage: 43.3 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 313 entries, 1946-01-01 to 2024-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    309 non-null    float64
dtypes: float64(1)
memory usage: 4.9 KB

In [139]:
filtered_df_hs = housing_starts[start_date:end_date]
filtered_df_mr = mortgage_rates[start_date:end_date]
filtered_df_gdp = gdp[start_date:end_date]
filtered_df_hs.info()
filtered_df_mr.info()
filtered_df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 241 entries, 2000-01-01 to 2020-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    241 non-null    float64
dtypes: float64(1)
memory usage: 3.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1043 entries, 2000-01-07 to 2019-12-26
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    1043 non-null   float64
dtypes: float64(1)
memory usage: 16.3 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 81 entries, 2000-01-01 to 2020-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   None    81 non-null     float64
dtypes: float64(1)
memory usage: 1.3 KB

In [140]:
df_reset_hs = filtered_df_hs.reset_index()

# Rename the new column for clarity (optional)
df_reset_hs = df_reset_hs.rename(columns={'index': 'Date', None:'housing_starts' })

df_reset_mr = filtered_df_mr.reset_index()

# Rename the new column for clarity (optional)
df_reset_mr = df_reset_mr.rename(columns={'index': 'Date', None:'mortgage_rates' })

df_reset_gdp = filtered_df_gdp.reset_index()

# Rename the new column for clarity (optional)
df_reset_gdp = df_reset_gdp.rename(columns={'index': 'Date', None:'gdp' })

df_reset_hs.info()
df_reset_mr.info()
df_reset_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            241 non-null    datetime64[ns]
 1   housing_starts  241 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1043 entries, 0 to 1042
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1043 non-null   datetime64[ns]
 1   mortgage_rates  1043 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 16.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    81 non-null     datetime64[ns]
 1   gdp     81 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.4 KB

In [170]:
## to reduce the number of entries of mortgage_rates
df_reset_mr_s = df_reset_mr
sampled_df = df_reset_mr_s.sample(n=241, random_state=42) 
sampled_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 1035 to 430
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            241 non-null    datetime64[ns]
 1   mortgage_rates  241 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.6 KB

In [175]:
sampled_df.isna().sum()
sampled_df.head()

           Date  mortgage_rates
1035 2019-11-07            3.69
280  2005-05-19            5.71
535  2010-04-08            5.21
822  2015-10-08            3.76
643  2012-05-03            3.84

In [ ]:
###merge

In [143]:
df_reset_gdp.isna().sum()

Date    0
gdp     0
dtype: int64

In [176]:
dfs = [df_reset_ffr, df_reset_ur, df_reset_cpi, df_reset_hs]

x_df = pd.merge(dfs[0], dfs[1], how='outer', on='Date')
for df in dfs[2:]:
    x_df = pd.merge(x_df, df, how='outer', on='Date')
x_df.set_index('Date', inplace=True)

In [177]:
x_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 241 entries, 2000-01-01 to 2020-01-01
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Feds_fund_rate     241 non-null    float64
 1   unemployment_rate  241 non-null    float64
 2   cpi                241 non-null    float64
 3   housing_starts     241 non-null    float64
dtypes: float64(4)
memory usage: 9.4 KB

In [178]:
x_df.head()

            Feds_fund_rate  unemployment_rate    cpi  housing_starts
Date
2000-01-01            5.45                4.0  169.3          1636.0
2000-02-01            5.73                4.1  170.0          1737.0
2000-03-01            5.85                4.0  171.0          1604.0
2000-04-01            6.02                3.8  170.9          1626.0
2000-05-01            6.27                4.0  171.2          1575.0

In [180]:
df_reset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              241 non-null    datetime64[ns]
 1   Home_Price_Index  241 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.9 KB

In [181]:
from sklearn.model_selection import train_test_split # Import the train_test_split function from scikit-learn for data splitting.
from sklearn.linear_model import LinearRegression  # Import the LinearRegression model from scikit-learn.
from sklearn import metrics # Import the metrics module from scikit-learn for evaluating model performance.

In [182]:
x = x_df[['Feds_fund_rate', 'unemployment_rate','cpi', 'housing_starts']]

In [183]:
x.head(15)

            Feds_fund_rate  unemployment_rate    cpi  housing_starts
Date
2000-01-01            5.45                4.0  169.3          1636.0
2000-02-01            5.73                4.1  170.0          1737.0
2000-03-01            5.85                4.0  171.0          1604.0
2000-04-01            6.02                3.8  170.9          1626.0
2000-05-01            6.27                4.0  171.2          1575.0
2000-06-01            6.53                4.0  172.2          1559.0
2000-07-01            6.54                4.0  172.7          1463.0
2000-08-01            6.50                4.1  172.7          1541.0
2000-09-01            6.52                3.9  173.6          1507.0
2000-10-01            6.51                3.9  173.9          1549.0
2000-11-01            6.51                3.9  174.2          1551.0
2000-12-01            6.40                3.9  174.6          1532.0
2001-01-01            5.98                4.2  175.6          1600.0
2001-02-01            5.49                4.2  176.0          1625.0
2001-03-01            5.31                4.3  176.1          1590.0

In [184]:
# 'y' Represents target variable for modeling

y = df_reset[['Home_Price_Index']]

In [185]:
y.head(5)

   Home_Price_Index
0           100.552
1           101.339
2           102.126
3           102.922
4           103.678

In [186]:
# Split the feature data 'x' and target variable 'y' into training and testing sets.

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, shuffle=False, stratify=None)
# Creating Linear Regression model instance

model = LinearRegression()
# Train the model using corresponding feature and target values

model.fit(X_train, y_train)

LinearRegression()

In [187]:
# Make predictions on the test data 'X_test'

y_predict = model.predict(X_test)
y_predict[0:3]

array([[171.29687413],
       [174.04355795],
       [175.85062291]])

In [188]:
#  Finding out the relationship between each feature and the target variable.

print(model.coef_)

[[4.81516435 1.7364448  1.56420765 0.03871267]]

In [189]:
# Printing estimated values(intercepts) when all features are zero

print(model.intercept_)

[-242.91686457]

In [190]:
print(model.score(X_train, y_train))

0.6644814113254922

In [191]:
print(model.score(X_test, y_test))

0.5302154614886507

In [192]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_predict))

Mean Absolute Error: 10.482693146376702

In [193]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_predict))

Mean Squared Error: 125.25227355358389

In [194]:
import numpy as np

print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_predict)))

Root Mean Squared Error: 11.191616217221885

In [195]:
print(y_test.describe())

       Home_Price_Index
count         73.000000
mean         187.238027
std           16.441394
min          161.925000
25%          172.144000
50%          186.797000
75%          202.906000
max          215.021000

In [196]:
# Actual target values from y_test vs predicted values by the model

result = pd.DataFrame({'Actual': y_test.squeeze(), 'Predicted': y_predict.squeeze()})
result.head(10)

      Actual   Predicted
168  161.925  171.296874
169  162.524  174.043558
170  163.084  175.850623
171  163.390  178.544828
172  163.656  178.028710
173  164.066  174.502754
174  164.584  181.781895
175  165.212  177.638830
176  165.903  178.827927
177  166.639  180.381467